/* 
a {
    text-decoration: underline;
    color: blue;
} */

iframe.body {
    background-color: aquamarine;
}

.vp-center {
    background-color: aqua;
}

iframe.body {
    background: transparent !important;
  }